<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @commit.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @commit.body %>
</p>

<%= link_to 'Edit', edit_commit_path(@commit) %> |
<%= link_to 'Back', commits_path %>
